*{ margin: 0;}
.text{
height: 420px;
width: 700px;
background-color: rgb(153, 192, 226);
border-radius: 10px;

}
ul{
line-height: 40px;
  
}
h3{
 margin-top: 30px;

}
.about{
  margin-top: 100px;
  display: flex;
justify-content: center;
align-items: center;

}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 50px;
 width: 100%;
 background-color:gray;
}
a{
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: 200;
  font-size: larger;
  border: 2px solid rgba(255, 255, 255, 0.633);
  background-color:rgba(133, 153, 180, 0.49) ;
  border-radius: 5px;
  color: white;

}
a:hover{
border: 1px solid black;
border-radius: 3px;
}
.fraud{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
